
.vs/Курсова робота/FileContentIndex/67aa2603-aab2-473a-affb-bdf921be439b.vsidx
.vs/Курсова робота/FileContentIndex/67b9b228-1fca-439f-8bd4-8ffd4fc6df8b.vsidx
.vs/Курсова робота/FileContentIndex/de314821-2d16-4ced-b6c4-c10914d21495.vsidx
